Source: regex-renamer
Section: utils
Priority: optional
Maintainer: Renato Couto da Costa <renatoccosta@gmail.com>
Build-Depends: debhelper (>= 7), ant, cdbs
Build-Depends-Indep: openjdk-6-jre | sun-java6-jre, antlr3, 
 libcommons-lang-java, libxstream-java, libxpp3-java, liblog4j1.2-java
Standards-Version: 3.8.3
Homepage: https://code.google.com/p/regex-renamer/

Package: regex-renamer
Version: 1.0
Architecture: all
Depends: openjdk-6-jre | sun-java6-jre, antlr3, libcommons-lang-java, 
 libxstream-java, libxpp3-java, liblog4j1.2-java, gconf2, nautilus-actions, 
 java-wrappers, ${misc:Depends}
Description: Rename your files the way you want in a batch process!
 Renamer is a tool to mass rename files given an expression.
 .
 Renamer is an extensible tool to rename files of a folder. It renames files
 based on a regular-expression to match patterns and replace with vales the user
 define. The values varies from constant expressions and a wide range of
 variable expressions like sequencers, file information, mp3 tags, and much
 more. It's also possible to create custom expressions and integrate them with
 Renamer with the plug-in APIs.
